.forecast-page{
    background-image: url("../Images/sky-picture.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.box-weather{
    float: left;
    width: calc(25% - 30px);
    background-color: #22222280;
    margin: 15px;
    padding: 15px;
    border-radius: 6px;
    color: white;
    height: 150px;
}

.box-weather img{
    transform: translate(150px, -80px);
}