body{
    background-color: bisque;
    background-image: url("../Images/1660658724-thanh-huong-vai-hoan-thu-6985-1660295659158-166029565929923347557-width645height968.jpg");
    background-size: cover;
}

h1{
    color: rgba(0, 0, 255, 20);
}
p{
    color: #CC6600;
    font-size: 16px;
    font-weight: inherit;
    font-family: sans-serif;
    line-height: 1.5;
    text-align: justify;/* left right center justify */
    text-decoration: underline;/* underline line-through overline none */
    text-transform: capitalize;/* uppercase lowercase capitalize none */
    font-style: italic;/* italic */
    background-color: azure;
    width: 800px;
}
